/* 
    Preferencia em Class
    Cor sempre em #
    Sempre Com TAB
    Padrão de Class = ExemploDeClasse

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #EFFDF6;
}

.Titulo{
    font-size: 2.5rem;
    margin: .5rem;
    color: #d63d4f;
    text-shadow: 1px 1px #5ea184;
}

.NavBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#EFFDF6;
    box-shadow: 1px 0px 2px black;
}

.NavBar-Links ul {
    display: flex;
}

.NavBar-Links li {
    list-style: none;
}

.NavBar-Links li a {
    text-decoration: none;
    padding: 2rem 3rem;
    display: block;
    color: #000000;
}

.NavBar-Links a:hover{
    color: #d63d4f;
    transition: 0.5s;
}

.BotaoAlternar{
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
}

.BotaoAlternar .Barra{
    height: 3px;
    width: 100%;
    background-color: #000000;
    border-radius: 10px;
}

.BotaoAlternar:hover{
    cursor: pointer;
}



.Apresentacao{
    background: url(src/ImagemPrincipal.jpg) no-repeat;
    width: 100%;
    height: 550px;
    display: inline-block;
}

.TextoApresentacao{
    color:#d3263b;
    text-shadow: 1px 1px #000000;
    margin: 100px 80px;
    padding: 10px;
    text-align: center;
    float: right;
    width: 500px;
    backdrop-filter: brightness(30%);
}

.H1-Apresentacao{
    margin: 20px;
    font-size: 2.5rem;
}

.H2-Apresentacao{
    margin: 10px;
    color: #d86875;
}

.H2-Horario{
    padding: 10px;
    font-size: 2rem;
    border-top:#e6e6e6 solid 1px;
}

.H2-Horario-H{
    padding: 10px;
    border-bottom:#e6e6e6 solid 1px;
    color: #d86875;
}

.Titulo-Pratos{
    text-align: center;
    color: #d3263b;
    text-shadow: 1px 1px #000000;
    margin: 20px;
    font-size: 2.5rem;
}

.Linha-Pratos{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.Linha-Pratos li {
    text-align: center;
    backdrop-filter: brightness(95%);
}

.Imagem-Pratos{
    width: 55vh;
    box-shadow: black 1px 0px 5px;
}

.Imagem-Pratos:hover{
    -webkit-transform: scale(1.01);
    transform:scale(1.01);
}

.SubTitulo-Pratos{
    margin: 10px;
    font-size: 1.3rem;
}

.Descricao-Pratos{
    font-size: 1.2rem;
    margin: 10px;
}

.Titulo-Historia{
    text-align: center;
    color: #d3263b;
    text-shadow: 1px 1px #000000;
    margin: 20px;
    font-size: 2.5rem;
}

.Container{
    display: flex;
    margin: 20px;
}

.Imagem-Restaurante{
    width: 50vh;
    box-shadow: black 1px 0px 5px;
}

.Paragrafo-Restaurante{
    font-size: 1.2rem;
    text-align: justify;
    margin: 10px;
}

footer{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px -1px 1px rgb(0, 0, 0);
    background-color: #f8f8f8;
}

footer a{
    text-decoration: none;
}

/* Responsive */
@media screen and (min-width: 320px) and (max-width: 599.9px){

    .Titulo{
        width: 250px;
    }

    .BotaoAlternar{      
        top: 3rem;
    }

    .BotaoAlternar .Barra{
        height: 4px;
    }
   
    .TextoApresentacao{
        margin: 100px 80px;
        padding: 10px;
        width: 300px;
        backdrop-filter: brightness(30%);
    }
    
}

@media screen and (min-width:600px) and (max-width:1023.9px){
   
    .NavBar-Links li a {
        padding: 2rem 1rem;
    }
}

@media screen and (min-width:1900px){

    .Apresentacao{
        background-size: cover;
    }
}

@media screen and (min-width:320px) and (max-width:1200px){
    /* Apenas Para Ajustar as Imagens E Textos */
    .Linha-Pratos{
        flex-direction: column;
        align-items: center;
    }

   .Linha-Pratos li{
        margin: 20px;
    }

   .Container{
    display: block;
    }

    .Imagem-Restaurante{
        display: block;
        margin: 0 auto;   
    }
}

@media screen and (max-width: 599.9px){
    /* Apenas Para Ajustar o Menu Hamburguer */
    .BotaoAlternar{
        display: flex;
    }

    .NavBar-Links{
        display: none;
        width: 100%;
    }

    .NavBar{
        flex-direction: column;
        align-items: flex-start;
        
    }

    .NavBar-Links ul{
        width: 100%;
        flex-direction: column;
        
    }

    .NavBar-Links li{
        text-align: center;       
    }

    .NavBar-Links li a {
        padding: .5rem 1rem;
    }

    .NavBar-Links a:hover{
        background-color: #e6e6e6;
    }
    .NavBar-Links.active{
        display:flex;
    }
}

